# Virtual environment
env/
venv/
.venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Django stuff
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
*.sqlite3-shm
*.sqlite3-wal
*.sqlite3-journal
*.env

# Django static and media files
staticfiles/
media/

# Node.js dependencies
node_modules/

# Environment variables file
.env

# JetBrains IDEs
.idea/

# VS Code settings
.vscode/

# macOS specific files
.DS_Store

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo

# Flask specific files
instance/
.webassets-cache

# Scrapy specific files
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# MyPy
.mypy_cache/

# Pyre type checker
.pyre/